
<link href="~/css/slide.css" rel="stylesheet" />
<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 6</div>
        <img src="~/image/slide/Capture.png" style="width:100%" />
        <div class="text">Collabora Online Whiteboard</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 6</div>
        <img src="~/image/slide/Capture2.png" style="width:100%" />
        <div class="text">Collabora Online Diagram</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 6</div>
        <img src="~/image/slide/Capture3.png" style="width:100%" />
        <div class="text">Collabora Online Math Editor</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 6</div>
        <img src="~/image/slide/Capture4.png" style="width:100%" />
        <div class="text">Collabora Online Office - Word</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">5 / 6</div>
        <img src="~/image/slide/Capture6.png" style="width:100%" />
        <div class="text">Collabora Online Office - PowerPoint</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">6 / 6</div>
        <img src="~/image/slide/Capture7.png" style="width:100%" />
        <div class="text">Collabora Online Office - excel</div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
