@model pRoom.meetVM
 

    <div id="boardPagingPanel" style="padding:0px;">
        @Html.Partial("_toolbar.cshtml")
       
    </div>
<div style="transform-origin: left top; width: 100%;border: groove 1px;border-radius:3px;" id="boardContainer" class="">

    <div style="" class="card">
        <div style="overflow:overlay;">
            <div style=" position:relative;" id="whiteboardContainer"></div>
          
        </div>
        <div style="padding:0px;" class="card-footer">
          
        </div>
    </div>
   
</div>




