@model pRoom.meetVM
    
<div id="videosBox" style="height: 100%;overflow: hidden;">
   
    <div id='mediasoup-demo-app-container'></div>
    <div id='mediasoup-demo-app-media-query-detector'></div>
    <div id="session">

        <div id="videos" class="row no-margin">

        </div>
    </div>
</div>

