@{
    ViewData["Title"] = "درباره ما";
}
 
<div class="box" style="padding:20px;">
    <h3 style="font-weight:bold;">درباره زاگرس سافت</h3>
</div>
<div class="box" style="padding:20px;">
    <p>زاگرس سافت در سال 1393 فعالیت های خود را در زمینه  تولید نرم افزار های تحت وب و realTime مانند پیام رسان ها ، ویدئو کنفرانس و کلاس آنلاین آغاز کرده است. </p>
    <p>هدف ما در زاگرس سافت ، استفاده از جدید ترین تکنولوژی های روز دنیا جهت تولید نرم افزار های کاربر پسند می باشد</p>
     
</div>
<div>
    <img style="width:100%;height:220px;" src="~/images/img/about_us_banner.jpg" />
</div>
<div class="box" style="padding:20px;">
    <h3 style="font-weight:bold;">زمینه های فعالیت زاگرس سافت</h3>
    <ul>
        <li>طراحی و تولید موتور جستجو برای ایندکس سایت های بزرگ با قابلیت ایندکس بیش از 20 میلیون صفحه</li>
        <li>تولید نرم افزار های تحت وب</li>
        <li> پیام رسان سازمانی با قابلیت تماس صوتی و تصویری</li>
        <li> نرم افزار ویدئو کنفرانس مانند اسکایپ  </li>
        <li>  سامانه آموزش از راه دور و کلاس مجازی</li>
        <li>طراحی و تولید سایت های ویکی مانند ویکی پدیا</li>
        
    </ul>
</div>